
@model Carlzhu.Iooin.Entity.FORM.f.report.FormDewellReportFitter





@{
    var i = (int)ViewData["row"];
}

<tr>

    @Html.Partial("/Areas/eForm/Views/f/formLayout/report/_editCommTd.cshtml", Model, new ViewDataDictionary() { { "row", i } })
    <td>@Html.TextBox(string.Format("ManConsumption{0}", i), Model.ManConsumption, new { placeholder = "数值可小数" })</td>
    <td>@Html.TextBox(string.Format("ManFactConsumption{0}", i), Model.ManFactConsumption, new { placeholder = "数值可小数" })</td>
    <td>@Html.TextBox(string.Format("ShutdownReason{0}", i), Model.ShutdownReason)</td>
    <td>@Html.TextBox(string.Format("DownTime{0}", i), Model.DownTime, new { placeholder = "数值可小数" })</td>
    <td>@Html.TextBox(string.Format("DifferenceDescription{0}", i), Model.DifferenceDescription)</td>
    <td>@Html.TextBox(string.Format("ProductSpecifications{0}", i), Model.ProductSpecifications)</td>
    <td>@Html.TextBox(string.Format("ProductNameType{0}", i), Model.ProductNameType)</td>


</tr>
