@using Carlzhu.Iooin.Entity.FORM.f
@model IEnumerable<Carlzhu.Iooin.Entity.FORM.f.report.FormDewellReportLaser>


<thead>
    @Html.Partial("/Areas/eForm/Views/f/formLayout/report/_editHeader.cshtml", new ViewDataDictionary() { { "Model", Model.First() } })
    <tr>
        @Html.Partial("/Areas/eForm/Views/f/formLayout/report/_editCommTh.cshtml", new Carlzhu.Iooin.Entity.FORM.f.report.FormDewellReport())

        <th>@Html.DisplayNameFor(model => model.ShutdownReason)</th>
        <th>@Html.DisplayNameFor(model => model.DownTime)</th>
        <th>@Html.DisplayNameFor(model => model.RunningSpeed)</th>
        <th>@Html.DisplayNameFor(model => model.DeckNo)</th>
    </tr>
</thead>
<tbody>
    @{
        int i = 0;

        foreach (var a in Model)
        {

            <tr>
                <td>@(++i)</td>

                @Html.Partial("/Areas/eForm/Views/f/formLayout/report/_detailsCommTd.cshtml", a)

                <td>@a.ShutdownReason</td>
                <td>@a.DownTime</td>
                <td>@a.RunningSpeed</td>
                <td>@a.DeckNo</td>


            </tr>
        }
        for (int j = i; j < 10; j++)
        {
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        }

    }
    <tr>
        <td colspan="30" style="text-align: right;">文件编号：MJ4028-2</td>
    </tr>
</tbody>





