
@model Carlzhu.Iooin.Entity.FORM.f.report.FormDewellReport
<td>@Model.ProductNo</td>
<td>@Model.OrderNo</td>
<td>@Model.ManNo</td>
<td>@Model.StandardWorkingHours</td>
<td>@Model.BadQuantity</td>
<td>@Model.GoodQuality</td>
<td>@Model.UnitPrice</td>
<td>@Model.BadReason</td>
<td>@Model.BaEffectiveWorkingHours</td>
<td>@Model.AttendanceHours</td>