@model Carlzhu.Iooin.Entity.FORM.f.FormPdAbnor
@{
    ViewBag.Title = "处理异常";
    Layout = "~/Areas/eSystem/Views/Shared/_eSystem.cshtml";
}



<ol class="breadcrumb">
    <li>@Html.RouteLink("eSystem", new { Controller = "Home", Action = "Index", area = "eSystem" }, null)</li>
    <li>@Html.RouteLink("处理异常", new { Controller = "Product", Action = "Index", area = "eSystem" }, null)</li>
    <li class="active">@Model.RowId</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">提报人：@Model.Form.BaseEmployee.RealName</div>
            <div class="panel-body" style="margin: 0;padding:0">
                <table class="table table-bordered table-striped table-condensed">
                    <tr><td>@Html.DisplayNameFor(model => model.AbnormalType)</td><td>@Enum.GetName(typeof(Carlzhu.Iooin.Entity.FORM.f.FormPdAbnor.EnumAbnormalType), Model.AbnormalType)</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.WorkshopCode)</td><td>@Model.Workshop.Name</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.PartNo)</td><td>@Model.PartNo</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.WorkTag)</td><td>@Model.WorkTag</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.WorkProcess)</td><td>@Model.WorkProcess</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.ResponsibilityDept)</td><td>@Model.Department.DepartmentName</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.AbnormalTime)</td><td>@Model.AbnormalTime</td></tr>
                    <tr><td>@Html.DisplayNameFor(model => model.AbnormalDetails)</td><td>@Model.AbnormalDetails </td></tr>
                    <tr><td>处理方式</td><td>@Html.TextBoxFor(model=>model.DealingMethod,null,new {style="width:100%"})</td></tr>
                    <tr><td>预计完成时间</td><td>@Html.TextBoxFor(model=>model.PlanFinishTime,null,new {@class="datetimepicker",@readonly="readonly"})</td></tr>
                    <tr><td colspan="2"><input type="button" data-loading-text="数据保存中...." class="btn btn-info btn-block" value="保存" id="save"/></td></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#save").click(function () {
        var e = $(this);
        e.button("loading");
        $.post("@Url.Action("DealingAbnormal", "Product")", {
            "id":@Model.RowId,
            "PlanFinishTime": $("#PlanFinishTime").val(),
            "DealingMethod": $("#DealingMethod").val()
        }, function (data) {
            if (data === "success") {
                alert("保存成功！");
                location.href = "/Default/Kanban";

            } else {
                alert("保存失败，请重试！");
                e.button("reset");
            }

        });
    });
</script>