@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsExternal



<td>@Html.DisplayTextFor(model => model.FileName)</td>
<td>@Html.DisplayTextFor(model => model.FileCode)</td>
<td>@Html.DisplayTextFor(model => model.MinicutCode)</td>
<td>@Html.DisplayTextFor(model => model.ReciveEmpNo)</td>


@Html.Partial("cent/BaseBody", Model)