@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsProgram



<td>@Html.DisplayNameFor(model => model.FileType)</td>
<td>@Html.DisplayNameFor(model => model.FileName)</td>
<td>@Html.DisplayNameFor(model => model.FileCode)</td>
<td>@Html.DisplayNameFor(model => model.Author)</td>

@Html.Partial("cent/BaseHead", Model)