@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsProgram



<td>@Html.DisplayTextFor(model => model.FileType)</td>
<td>@Html.DisplayTextFor(model => model.FileName)</td>
<td>@Html.DisplayTextFor(model => model.FileCode)</td>
<td>@Html.DisplayTextFor(model => model.Author)</td>

@Html.Partial("cent/BaseBody", Model)