@model Carlzhu.Iooin.Entity.MANAGER.SystemAccount


@using (Ajax.BeginForm("ChangePassword", "Personal", new {area="eForm" }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "ChangePwd.Success",
                    OnFailure = "ChangePwd.Error",
                    InsertionMode = InsertionMode.Replace,
                }, new { id = "Login" }))
{
    <table class="table table-bordered">
        <tr>
            <th colspan="2">注：此密码为域控密码，域帐号可用于公司各项系统以及加域电脑登陆。</th>
        </tr>
        <tr>
            <td>工号：</td>
            <td>
                @Html.TextBoxFor(model => model.EmpNo, new { CLASS = "form-control", READONLY = "readonly" })
            </td>
        </tr>
        <tr>
            <td>用户名：</td>
            <td>
                @Html.TextBoxFor(model => model.UserName, new { CLASS = "form-control", READONLY = "readonly" })
            </td>
        </tr>
        <tr>
            <td>旧密码：</td>
            <td>
                @Html.PasswordFor(model => model.OldPassword, new { CLASS = "form-control", TITLE = "请输入旧密码" })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </td>
        </tr>
        <tr>
            <td>新密码：</td>
            <td>
                @Html.PasswordFor(model => model.NewPassword, new { CLASS = "form-control", TITLE = "请输入新密码" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" class="btn  btn-default" data-loading-text="正在更改密码，请等待...." id="submitpwd" />
            </th>
        </tr>
    </table>
}


