@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsBom
@{
    Layout = "/Areas/eForm/Views/f/formLayout/_DrawingBase.cshtml";
}
<tr>
    <td>@Html.LabelFor(model => model.DrawPartNo)</td>
    <td>@Html.DisplayTextFor(model => model.DrawPartNo)</td>
    
    <td>@Html.LabelFor(model => model.ProductNo)</td>
    <td>@Html.DisplayTextFor(model => model.ProductNo)</td>
    
</tr>
<tr>
    <td>@Html.LabelFor(model => model.ProductName)</td>
    <td>@Html.DisplayTextFor(model => model.ProductName)</td>
    
    <td>@Html.LabelFor(model => model.FileCode)</td>
    <td>@Html.DisplayTextFor(model => model.FileCode)</td>
    
</tr>

<tr>
    <td>@Html.LabelFor(model => model.Author)</td>
    <td>@Html.DisplayTextFor(model => model.Author)</td>
    
    <td></td>
    <td></td>
    
</tr>
