@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsProfile
@{
    Layout = "/Areas/eForm/Views/f/formLayout/_DrawingBase.cshtml";
}
<tr>
    <td>@Html.LabelFor(model => model.ProfileNo)</td>
    <td>@Html.DisplayTextFor(model => model.ProfileNo)</td>
    
    <td>@Html.LabelFor(model => model.ProductNo)</td>
    <td>@Html.DisplayTextFor(model => model.ProductNo)</td>
    
</tr>
<tr>
    <td>@Html.LabelFor(model => model.ProductName)</td>
    <td>@Html.DisplayTextFor(model => model.ProductName)</td>
    
    <td>@Html.LabelFor(model => model.Drafter)</td>
    <td>@Html.DisplayTextFor(model => model.Drafter)</td>
    
</tr>


