@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsEcn
@{
    Layout = "/Areas/eForm/Views/f/formLayout/_DrawingBase.cshtml";
}
<tr>
    <td>@Html.LabelFor(model => model.ProductNo)</td>
    <td>@Html.DisplayTextFor(model => model.ProductNo)</td>

    <td>@Html.LabelFor(model => model.ProductName)</td>
    <td>@Html.DisplayTextFor(model => model.ProductName)</td>

</tr>
<tr>
    <td>@Html.LabelFor(model => model.EcnNo)</td>
    <td>@Html.DisplayTextFor(model => model.EcnNo)</td>

    <td>@Html.LabelFor(model => model.PublishEmp)</td>
    <td>@Html.DisplayTextFor(model => model.PublishEmp)</td>

</tr>

