@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsCustomer
@{
    Layout = "/Areas/eForm/Views/f/formLayout/_DrawingBaseEdit.cshtml";
}
<tr>
    <td>@Html.LabelFor(model => model.DrawPartNo)</td>
    <td>@Html.TextBoxFor(model => model.DrawPartNo)</td>
    <td>@Html.ValidationMessageFor(model => model.DrawPartNo)</td>
    <td>@Html.LabelFor(model => model.ProductNo)</td>
    <td>@Html.TextBoxFor(model => model.ProductNo)</td>
    <td>@Html.ValidationMessageFor(model => model.ProductNo)</td>
</tr>
<tr>
    <td>@Html.LabelFor(model => model.ProductName)</td>
    <td>@Html.TextBoxFor(model => model.ProductName)</td>
    <td>@Html.ValidationMessageFor(model => model.ProductName)</td>
    <td>@Html.LabelFor(model => model.ManagerHead)</td>
    <td>
        @Html.TextBoxFor(model => model.ManagerHead, new { placeholder = "只支持工号" })
    </td>
    <td>@Html.ValidationMessageFor(model => model.ManagerHead)</td>
</tr>
