@using Carlzhu.Iooin.Entity.FORM.f
@model IEnumerable<FormPassEntry>
@{
    var t = (List<FormPassEntry>)Model;

    List<SelectListItem> customerList = (ViewBag.DropCustomer as List<SelectListItem>);
    List<SelectListItem> supplierList = (ViewBag.DropSupplier as List<SelectListItem>);

    Console.Write(supplierList);
}

<thead>
    <tr>
        <th colspan="2">采购负责人</th>
        <td colspan="3">
            <input type="text" name="PurchasePrincipal" value="@(t.Any()?t[0].PurchasePrincipal:"")" />
        </td>
        <th>采购主管</th>
        <td colspan="2"><input type="text" name="PurchaseMaster" value="@(t.Any()?t[0].PurchaseMaster:"")"/></td>
    </tr>
    <tr>
        <th>@Html.DisplayName("项次")</th>
        <th>@Html.DisplayNameFor(model => model.DetailedContent)</th>
        <th>@Html.DisplayNameFor(model => model.CustomerName)</th>
        <th>@Html.DisplayNameFor(model => model.UseDepartment)</th>
        <th>@Html.DisplayNameFor(model => model.SupplierCode)</th>
        <th>@Html.DisplayNameFor(model => model.AmountOfMoney)</th>
        <th>@Html.DisplayNameFor(model => model.InvoiceNo)</th>
        <th>@Html.DisplayNameFor(model => model.TimeOfPayment)</th>
    </tr>
</thead>
<tbody>
    @{


        int count = t.Count;
        for (int i = 0; i < count; i++)
        {
            @Html.Partial("/Areas/eForm/Views/f/PassEntryEdit.cshtml", t[i], new ViewDataDictionary() { { "row", i + 1 }, { "customerList", customerList }, { "supplierList", supplierList } })
        }
        for (int i = count + 1; i < 10; i++)
        {
            @Html.Partial("~/Areas/eForm/Views/f/PassEntryEdit.cshtml", new FormPassEntry(), new ViewDataDictionary() { { "row", i }, { "customerList", customerList }, { "supplierList", supplierList } })
        }
    }



</tbody>




