@model IEnumerable<Carlzhu.Iooin.Entity.FORM.f.FormPurchase>



  <thead>
        <tr>
            <th>@Html.DisplayName("项次")</th>
            <th>@Html.DisplayNameFor(model => model.PartNo)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Details)</th>
            <th>@Html.DisplayNameFor(model => model.Unit)</th>
            <th>@Html.DisplayNameFor(model => model.Qty)</th>
            <th>@Html.DisplayNameFor(model => model.Delivery)</th>
            <th>@Html.DisplayNameFor(model => model.Usage)</th>
            <th>@Html.DisplayNameFor(model => model.Reason)</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            foreach (var a in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@a.PartNo</td>
                    <td>@a.Name</td>
                    <td>@a.Details</td>
                    <td>@a.Unit</td>
                    <td>@a.Qty</td>
                    <td>@a.Delivery</td>
                    <td>@a.Usage</td>
                    <td>@a.Reason</td>
                </tr>
            }
            for (int j = i; j < 10; j++)
            {
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            }
        }
        <tr>
            <td colspan="9" style="text-align: right;">文件编号：MJ4028-2</td>
        </tr>
    </tbody>
