@model Carlzhu.Iooin.Entity.FORM.f.FormWorkshopInspection
<tr>
    <th>@Html.DisplayNameFor(model => model.ManNo)</th>
    <td>@Html.DisplayTextFor(model => model.ManNo)</td>


    <th>@Html.DisplayNameFor(model => model.ProductType)</th>
    <td>@Html.DisplayTextFor(model => model.ProductType)</td>

</tr>
<tr>
    <th>@Html.DisplayNameFor(model => model.ProductNo)</th>
    <td>@Html.DisplayTextFor(model => model.ProductNo)</td>


    <th>@Html.DisplayNameFor(model => model.Engineering)</th>
    <td>@Html.DisplayTextFor(model => model.Engineering)</td>

</tr>


<tr>
    <th>@Html.DisplayNameFor(model => model.Machine)</th>
    <td>@Html.DisplayTextFor(model => model.Machine)</td>


    <th>@Html.DisplayNameFor(model => model.TransferMachine)</th>
    <td>@Html.DisplayTextFor(model => model.TransferMachine)</td>

</tr>


<tr>
    <th>@Html.DisplayNameFor(model => model.SendUser)</th>
    <td>@Html.DisplayTextFor(model => model.SendUser)</td>


    <th></th><td></td>

</tr>